exportPattern( "^[[:alpha:]]+" )
export( "commutation.matrix",
        "D.matrix",
        "direct.sum",
        "direct.prod",
        "duplication.matrix",
        "E.matrices",
        "elimination.matrix",
        "entrywise.norm",
        "frobenius.norm",
        "frobenius.prod",
        "H.matrices",
        "hadamard.prod",
        "hilbert.matrix",
        "hilbert.schmidt.norm",
        "inf.norm",
        "inverse",
        "is.positive.definite",
        "is.square.matrix",
        "is.symmetric.matrix",
        "K.matrix",
        "L.matrix",
        "lower.triangle",
        "pascal.matrix",
        "matrix.rank",
        "matrix.trace",
        "maximum.norm",
        "N.matrix",
        "one.norm",
        "%s%",
        "set.submatrix",
        "shift.down",
        "shift.left",
        "shift.right",
        "shift.up",
        "spectral.norm",
        "svd.inverse",
        "T.matrices",
        "u.vectors",
        "upper.triangle",
        "vandermonde.matrix",
        "vec",
        "vech" )

