export( "commutation.matrix",
        "duplication.matrix",
        "elimination.matrix",
        "frobenius.prod",
        "hadamard.prod",
        "hilbert.matrix",
        "inverse",
        "is.numeric.matrix",
        "is.positive.definite",
        "is.square.matrix",
        "is.symmetric.matrix",
        "lower.triangle",
        "pascal.matrix",
        "matrix.rank",
        "set.submatrix",
        "shift.down",
        "shift.left",
        "shift.right",
        "shift.up",
        "matrix.trace",
        "upper.triangle",
        "vandermonde.matrix",
        "vec",
        "vech" )

